<link rel="stylesheet" href="{{ url_for('static', filename='styles/junk.css') }}"> {% extends 'layouts/base.html' %} {% block title %} Frequently Asked Questions {% endblock %} {% block meta_description
%}FAQs about Snake Eyes app{% endblock %} {% block body %}


<div class="container sm-margin-top">
  <div class="text-center lg-margin-bottom">
    <h1>Frequently Asked Questions</h1>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <h3 class="subtitle">How tall are you?</h3>
      <p class="paratext">I'm 5 feet 11 inches</p>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
{% endblock %}